{% set hero_image = page.media.images|first %}

<a class="card-link" href="{{ page.url }}">
            <article class="blog-card">
            {{ hero_image.html(meta.title|e, meta.alt_text|e, 'post-image')|absolute_url|raw  }}
              <div class="post-details">
                <h4 class="post-meta">{{ page.date|date("d.m.Y") }}</h4>
                <h2 class="post-title">{{ page.title }}</h2>
                <p class="post-description">
                  {{ page.summary | striptags }}
                </p>
                <p class="post-tags">{% for tag in page.taxonomy.tag %}<span href="{{ theme_config.blog.slug }}/tag:{{tag}}">{{ tag }}</span>&ensp;{% endfor %}</p>
              </div>
            </article>
          </a>
