{% if theme_config.hashover.domain %}
<h2 class="left">{{ theme_config.hashover.title|raw }}</h2>
    {% if page.header.disableComments %}
        <p class="left">{{ theme_config.hashover.disable_comments|raw }}</p> 
    {% else %}
                 <div id="hashover" class="left"></div> 
                <script async defer src="https://{{ theme_config.hashover.domain }}/comments.php"></script> 
    {% endif %}
{% endif %}