<div class="left">
    <h2>{{ theme_config.blog.share|raw }}</h2>
    <div class="share">
      {% for button in theme_config.blog.share_buttons %}
            <a class="btn {{ button.class }}" {{ button.attributes|raw }} target="_blank" rel="nofollow noopener noreferrer" href="{{ button.link }}?{{ button.url_param }}={{ page.url(true) }}" title="{{ button.title }}">{{ button.name }}</a>
      {% endfor %}
    </div>
</div>