{% extends 'partials/base.html.twig' %}

{% block content %}
    {% if page.header.center %}
        <div>
        {{ page.content | raw }}
        </div> 
    {% else %}
        <div class="left">
        {{ page.content|raw }}
        </div>
    {% endif %}
{% endblock %}