{% extends 'partials/base.html.twig' %}
{% set hero_image = page.media.images|first %}

	{% block content %}
    <article class="post">
        <h2>{{ page.title }}</h2>
        <div class="meta">
        <p>{{ page.date|date("d.m.Y H:i") }}{% if config.plugins.readingtime.enabled %}&nbsp;|&nbsp;{{ page.content|readingtime }}{% endif %}</p>
        <p>{{ theme_config.blog.tags_title|raw }}: {% for tag in page.taxonomy.tag %}<a href="{{ theme_config.blog.slug }}/tag:{{tag}}">{{ tag }}</a>&ensp;{% endfor %}</p>
        {% if page.taxonomy.series %}
        <p>{{ theme_config.blog.series_title|raw }}: {% for series in page.taxonomy.series %}<a href="{{ theme_config.blog.slug }}/series:{{series}}">{{ series }}</a>&ensp;{% endfor %}
        {% endif %}
        </div>
        {{ page.content | raw }}
    </article>
    {% if not page.header.disableSharing %}
        {% include 'partials/share.html.twig' %}
    {% endif %}
        {% include 'partials/comments.html.twig' %}
    {% endblock %}